#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin:0;
  font-family: 'Georgia', serif;
  background: #03571d;
  color: #aaaaaa;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  max-width: 600px;
  -webkit-text-fill-color: black !important;
  margin: 0 auto;
}

.door {
  background: #aaaaaa;
  padding: 20px;
  font-size: 22px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
}

.dayView {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.back {
  margin-top: 15px;
  background-color: #aaaaaa;
  -webkit-text-fill-color: black !important;
}

.pwContainer input {
  padding: 8px;
  font-size: 16px;
  background-color: #aaaaaa;
}

.pwContainer button {
  padding: 8px, 12px;
  margin-top: 15px;
  font-size: 16px;
  background-color: #aaaaaa;
  -webkit-text-fill-color: black !important;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }

  .door {
    padding: 16px;
    font-size: 18px;
  }

  .door.solved{
  background-color: #bd1f1f;
  color:#aaaaaa;
  -webkit-text-fill-color: #aaaaaa !important;
  font-weight: bold;
}
  
}

.door.solved{
  background-color: #bd1f1f;
  color:#aaaaaa;
  font-weight: bold;
}

.unlocked h3{
  white-space: pre-line;
  font-size: 1.1rem;
  line-height: 1.6;
}
